[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
x509_extensions    = v3_req

[ req_distinguished_name ]
C  = CN
ST = SH
L  = Shanghai
O  = Individual
OU = MyStudio
CN = x.io

[ v3_req ]
subjectAltName = @alt_names

[alt_names]
DNS.1  = x.io
DNS.2  = *.x.io
IP.7   = 127.0.0.1
DNS.11 = localhost
