[gerrit]
	basePath = git

[index]
	type = LUCENE

[auth]
	type = oauth
	gitBasicAuthPolicy = HTTP

[sshd]
	listenAddress = *:29418

[httpd]
	listenUrl = http://*:8080/

[cache]
	directory = cache

[container]
	user = root

[download]
	schema = http
	schema = ssh

[plugins]
	# for plugin-manager plugin
	allowRemoteAdmin = true

[user]
	name = Gerrit Code Review
	email = webhook@max-optics.com
	anonymousCoward = Gerrit Code Review

[sendemail]
	smtpServer = smtp.exmail.qq.com
	smtpServerPort = 465
	smtpEncryption = SSL
	sslVerify = true
	smtpUser = webhook@max-optics.com
	smtpPass = YOUR_PASSWORD
	from = ${user} (Code Review) <webhook@max-optics.com>

[commentlink "changeid"]
	match = (I[0-9a-f]{8,40})
	link = "#/q/$1"

[commentlink "gitee"]
	match = "gitee: #(.{6})"
	link = https://e.gitee.com/max-optics/dashboard?issue=$1

[receive]
	enableSignedPush = false

[plugin "gerrit-oauth-provider-google-oauth"]
	client-id = google-client-id-example
	fix-legacy-user-id = false

[plugin "gerrit-oauth-provider-github-oauth"]
	client-id = github-client-id-example
	fix-legacy-user-id = false

[plugin "gerrit-oauth-provider-bitbucket-oauth"]
	client-id = bitbucket-client-id-example
	fix-legacy-user-id = false

[plugin "gerrit-oauth-provider-facebook-oauth"]
	client-id = meta-client-id-example
