[remote "sample"]		                       # 项目名称要一致
        rescheduleDelay = 15
        projects = cell                        # 项目名称要一致
        url = git@gitlab.local:mm/sample.git   # gitlab的仓地址
        push = +refs/heads/*:refs/heads/*
        push = +refs/tags/*:refs/tags/*
        push = +refs/changes/*:refs/changes/*
        threads = 3
