[reviewers]
	enableREST = true
	suggestOnly = false
	ignoreWip = false

[filter "*"]
	reviewer = Review Users
	reviewer = john.F.doe@example.com
	reviewer = john.G.doe@example.com
	reviewer = john.J.doe@example.com

[filter "branch:main file:^lib/.*"]
	reviewer = jane.doe@example.com

[filter "branch:stable-2.10"]
	reviewer = QAGroup

[filter "file:^build/modules/.*"]
	reviewer = john.doe@example.com

[filter "file:^build/.*"]
	reviewer = jane.doe@example.com
