services:
    grafana:
        image: grafana/grafana
        restart: always
        environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=admin
            - TZ=Asia/Shanghai
        volumes:
            #- "./grafana.ini:/etc/grafana/grafana.ini"
            #- "./provisioning:/etc/grafana/provisioning"
            - "grafana:/var/lib/grafana"
        networks:
            - traefik-net
networks:
    traefik-net:
        external: true
volumes:
    grafana:
